.boton1 {
    color: white;
    display: inline-block;
    padding: 0 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    text-decoration: none !important;
    background-color: #6c6e70;
    font-family: "Roboto", sans-serif;

    &:hover {
        background-color: #d1d1d1;
    }
}

.boton2 {
    color: white;
    display: inline-block;
    padding: 0 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    text-decoration: none !important;
    background-color: #6c6e70;
    font-family: "Roboto", sans-serif;

    &:hover {
        background-color: #d1d1d1;
    }
}