$font-family: "Roboto", sans-serif;
$primary-color: #fff;

h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    position: absolute;
    left: 0%;
    width: 100%;
    top: 70px;
    font-size: 40px;
    color: white;

    @media(min-width: 740px) {
        font-size: 70px;
        top: 110px;
        left: 25%;
        width: 50%;
    }

}

h5 {
    font-family: "Roboto", sans-serif;
    color: #6c6e70;
}

p {
    font-family: "Roboto", sans-serif;
    color: #6c6e70; 
}

h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: #d76c69;
}

a:hover {
    color: #d76c69 !important;
}

.flecha {
    top: 220px; 
    position: absolute;
    font-size: 2em !important;

    @media (min-width: 740px) {
        top: 480px;
        font-size: 4em !important;
    }
}